.page {
    height: inherit;
    min-width: 800px;
    margin: 0;
    padding: 0;
    position: relative;
}

.page__heading {
    font-weight: bold;
    font-size: 115px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 62px;
    height: min-content;
    width: min-content;
    z-index: 1;
    position: static;
    margin: 0 auto;
}

.page__heading:hover {
    color: #4C4C4C;
}

.page__heading:hover::after {
    position: absolute;
    content: '';
    inset: 0;
    background-color: rgba(255, 255, 255, .3);
    z-index: -1;
}

.page__heading:hover::before {
    position: absolute;
    content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
    top: 180px;
    right: 22px;
    white-space: pre;
    font-size: 35px;
    line-height: 1em;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0;
    text-align: left;
    padding: 36px 44px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 14px 0 #000;
    z-index: 3;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.alined-text {
    display: block;
    margin-left: 6px;
}

.top-word {
    letter-spacing: 6px;
}

.bottom-word:after {
    content: '*';
    font-size: 116px;
}

video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}